<div class="single">
  <div class="container">
    <div class="single-top">
      <div class=" single-grid">


        <h1>Edit article</h1>
        <div class="comment-bottom heading">
          <%= render 'form' %>
        </div>
      </div>

      </div>

      <div class="about-btn">
        <%= link_to 'Back', articles_path %>
      </div>

    </div>
  </div>
</div>