<!--banner-starts-->
<div class="banner">
  <div class="container">
    <div class="banner-top">
      <div class="banner-text">
        <div class="banner-btn">
          <h1>Rejoice, Brothers!</h1>
          <%= link_to 'My Blog', controller: 'articles' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--banner-end-->

