<div class="single">
  <div class="container">
    <div class="single-top">
      <div class=" single-grid">
        <div class="comment-bottom heading">

          <h1>Persons#profile</h1>
          <p>Find me in app/views/persons/profile.html.erb</p>

        </div>
      </div>
    </div>
  </div>
</div>
