<div class="single">
  <div class="container">
    <div class="single-top">
      <div class=" single-grid">
        <div class="comment-bottom heading">

          <p>Hello <%= @resource.email %>!</p>

          <p>We're contacting you to notify you that your password has been changed.</p>

        </div>
      </div>
    </div>
  </div>
</div>